body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6e8efb, #a777e3); 
    color: white;
    text-align: center;
}

form {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

label {
    display: inline-block;
    margin: 10px 0 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

/* Botões estilizados */
button {
    padding: 15px 30px;
    width: 100%;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-3px);
}

h1 {
    margin-bottom: 20px;
    color: white;
}
#particula{
    font-size: 20px;
}

#results {
    background-color: rgba(255, 255, 255, 0.3); 
    padding: 10px 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 10px 0; 
    transition: background-color 0.3s; 
}

#results:hover {
    background-color: rgba(255, 255, 255, 0.4); 
}

.radio-buttons {
    display: flex;
    justify-content: center;
    gap: 3px; 
    align-items: center; 
}

.radio-buttons input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 35px; 
    height: 35px; 
    background-color: #f0f0f0; 
    /*border: 2px solid #007BFF; */
    border-radius: 2px; 
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px; 
    transition: background-color 0.3s ease; 
}

.radio-buttons input[type="radio"]:checked {
    background-color: #007BFF; 
    border-color: none; 
}

.radio-buttons label {
    padding: 1px 10px; 
    border: 2px solid transparent; 
    border-radius: 2px; 
    font-size: 25px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2); 
    cursor: pointer;
    transition: all 0.3s ease; 
}

.radio-buttons label:hover,
.radio-buttons input[type="radio"]:hover + label {
    background-color: rgba(255, 255, 255, 0.3); 
    border-color: #007BFF; 
}

.radio-buttons input[type="radio"]:focus + label {
    outline: none; 
}
